<br />
<b>EMPRESA</b>

<input type="text">
<button>Buscar</button>
<br />
<br />
<table border="1">
  <tr>
    <td><b>Nome</b></td>
    <td><b>Telefone</b></td>
    <td><b>Email</b></td>
    <td><b>Consultar</b></td>
    <td><b>Editar</b></td>
    <td><b>Excluir</b></td>
  </tr>
  <tr>
    <td>Anes Casa da Beleza</td>
    <td>3261-4111</td>
    <td>anes@gmail.com</td>
    <td><button>C</button></td>
    <td><button>E</button></td>
    <td><button>X</button></td>
  </tr>
</table>
