﻿body { background:url(../img/fnd.jpg) repeat-x; margin: 0; }

#container {
	width: 983px; height:auto; margin:0 auto; background-repeat:no-repeat;	padding: 0px 0 0 0; color:#333; font-size:12px; font-family:Arial, Helvetica, sans-serif;	text-align:left; /* "remédio" para o hack do IE */
}

/* Topo */
#topo {width: 983px; height: 35px; float: left;}
#topo .logo { background-image: url(../img/logo.jpg); width:193px; height: 66px; float: left; }
#topo .btndireita { width: 200px; height: 40px; float:right; margin-top:5px; }
#topo .home { background-image: url(../img/topo/btn_home.jpg); width: 95px; height: 34px; float: left; margin-top:5px;}
#topo .duvidas { background:url(../img/topo/btn_duvidas.jpg); width:105px; height:34px; float:left; margin-top:5px;}

/* Topo */

/* Esquerda */
#esquerda { width:190px; height: auto; min-height: 200px; float: left; margin:-12px 10px 0 20px; }
#esquerda .logotipo { background-image:url(../img/lateral01.jpg); width: 190px; height: 139px; float: left; margin: 0 0 2px 0;  }
#esquerda .inscriacao01 {  width: 110px; height: 40px; float: left;  margin: 15px 0 0 75px; font-size: 14px; font-weight: bold; color:#3d3d3d; }

.inscriacao01 a{ text-decoration: none; color: #3d3d3d;}
.inscriacao01 a:hover{ text-decoration: none; color: #3d3d3d;}

#esquerda .txtinscricao { width: 160px; height: 20px; float: left;  margin: 20px 0 0 14px; color:white; }
#esquerda .numeroinscricao { width: 160px; height: 18px; font-size: 22px; margin-top: 4px; float: left;   }

#esquerda .link { width: 160px; height: 20px; float: left; color: white; font-size: 14px; font-weight: bold; margin: 12px 0 0 0 ; }
.link a{ color: white; text-decoration: none;}
.link a:hover{ color: white; text-decoration: none;}



/* banner na lateral abaixo dos menus */
#esquerda .beneficios { width: 190px; height: 20px; float: left; font-size: 18px; color: #c8c8c8; font-weight: bold; margin: 20px 0 0 0; }
#esquerda .banner { width: 190px; height: auto; float: left; margin: 8px 0 0 0;}


/* menu acordion */
#menu { width: 190px; height: auto; float: left; }
#nav { float: left; width: 190px; height: auto; list-style:none; }
ul, li { list-style:none; padding:0px; margin:0px; }
#nav li a {background: #D2691E; padding: 13px 15px 0 30px; margin:2px 0 2px 0; text-decoration: none; color: #000000; font-size: 14px; font-weight: bold; float: left; width: 144px; height: 27px; list-style:none; }
#nav li a:hover, #nav li a.active { color:#333; float: left; list-style:none; }
#nav li ul { display: none; color:#333; list-style:none; }
#nav li ul li a {  padding: 10px 25px; background: #EEE; color:#333; font-size: 12px; height: 22px; width: 138px;  list-style:none; }

/* Fim da Esquerda */



/* TimeLine */

#timeline { width: 746px; float: left; margin-top:-20px;}


/* inicio das caixas de destaque de cada status */
#timeline .caixas { width: 746px; height: 127px; float: left; text-align: center; }
#timeline .caixa { background:url(../img/bg_cinza.png);  width: 111px; height: 118px; float: left;  }
#timeline .icon { width: 72px; height: 64px; float: left; margin: 20px 0 0 25px; }
#timeline .icon2 { width: 72px; height: 64px; float: left; margin: 20px 0 0 115px; }
#timeline .numero { width: 16px; height: 18px; float: right; font-size: 20px; font-weight: bold; color: white; margin-top: -70px; margin-right: 10px;}
#timeline .numero2 { width: 16px; height: 18px; float: right; font-size: 20px; font-weight: bold; color: white; margin-top: 14px; margin-right: 10px;}
#timeline .titulo { width:111px; height: 20px; float: left; font-size: 16px; font-weight: bold; color:#3d3d3d; margin-top: 8px; text-align: center; }
#timeline .titulo3 { width:111px; height: 20px; float: left; font-size: 14px; font-weight: bold; color:#3d3d3d; margin-top: 8px; text-align: center; }
#timeline .titulo2 { width:292px; height: 20px; float: left; font-size: 16px; font-weight: bold; color:#3d3d3d; margin-top: 8px; text-align: center; }


.titulo a{ text-decoration: none; color: #3d3d3d;}
.titulo a:hover{ text-decoration: none; color: #3d3d3d;}

#timeline .caixagrd { background:url(../img/bg_matricula.png);  width: 291px; height: 125px; float: left; margin-top: 2px;  }

#timeline .espaco { width: 50px; height: 118px; float: left;}

#timeline .subcaixas { width: 746px; height: 109px; float: left; margin-top: -10px; }

/* caixas grandes */
#timeline .bgcinzagrd { background:url(../img/bgcaixas/bg_cinza_grd.png); width: 111px; height: 106px; float: left; }
#timeline .bgazulclarogrd { background:url(../img/bgcaixas/bg_azulclaro_grd.png); width: 111px; height: 106px; float: left; }
#timeline .bgazulgrd {  background:url(../img/bgcaixas/bg_azul_grd.png); width: 111px; height: 106px; float: left; }
#timeline .bgverdegrd { background:url(../img/bgcaixas/bg_verdepiscina_grd.png); width: 111px; height: 106px; float: left; }

/* caixas pequenas */
#timeline .bgcinzapeq { background:url(../img/bgcaixas/bg_cinza_peq.png); width: 97px; height: 106px; float: left; }
#timeline .bgazulclaropeq { background:url(../img/bgcaixas/bg_azulclaro_peq.png); width: 97px; height: 106px; float: left; }
#timeline .bgazulpeq { background:url(../img/bgcaixas/bg_azul_peq.png); width: 97px; height: 106px; float: left;  }

/* caixaas pequenas com descontos */
#timeline .bgcinzapeqdesconto { background: url(../img/bgcaixas/bg_cinza_peq_desconto.png); width: 97px; height: 106px; float: left; }
#timeline .bgazulclaropeqdesconto { background:url(../img/bgcaixas/bg_azulclaro_desconto.png); width: 97px; height: 106px; float: left; }
#timeline .bgazulpeqdesconto { background:url(../img/bgcaixas/bg_azul_peq_desconto.png); width: 97px; height: 106px; float: left; }

/* espaço */
#timeline .espaco2 { width: 2px; height: 106px; float: left;}


/* texto das caixas da timeline */
#timeline .txtbranco { width: 96px; height: 52px;  text-align: center; font-size: 12px; color: white; margin: 25px 0 0 8px; font-weight: bold; font-size: 11px;}
#timeline .txtcinza { width: 96px; height: 52px;  text-align: center; font-size: 12px; color:#a5a5a5; margin: 25px 0 0 8px; font-weight: bold;  font-size: 11px;}
#timeline .txtbranco2 { width: 89px; height: 28px;  text-align: center; font-size: 12px; color: white; margin: 25px 0 0 4px; font-weight: bold; font-size: 11px;}
#timeline .txtcinza2 { width: 89px; height: 28px;  text-align: center; font-size: 12px; color:#a5a5a5; margin: 25px 0 0 4px; font-weight: bold; font-size: 11px;}
#timeline .txtdesconto { width: 89px; height: 30px;  text-align: center; font-size: 12px; color: white; margin:8px 0 0 4px; font-weight: bold; font-size: 11px;}


/* CSS do Status */
#timeline .status01 {  width: 743px; height: 24px; float: left; margin: 15px 0 15px 0; }


/* Menu fixo do meio da página */

#timeline .submenu { width:762px; height: 55px; float: left;  }
#timeline .txtsubmenu { width: 720px; height: 28px; float: left;}
#timeline .txttitulo {  width: 90px; height: 16px; float: left; margin-top: 8px; color: #245f7e; font-weight: bold; }

#timeline .submenutxt { width: 740px; height: 41px; float: left; font-size: 10px; font-weight: bold;   text-align:center; }
#timeline .linkmenu {  background:url(../img/internas/menu-baixo.jpg); width: 84px; height:30px; float: left; padding:5px;  }
#timeline .divisoriamenu {  width:4px; height:41px; float:left;  }
.linkmenu a{ color: #fff; text-decoration: none;}
.linkmenu a:hover {color: #333; }

/* Fim da TimeLine */

/* miolo */
#miolo { width: 742px; height: auto; margin-top: 12px; margin-left: 6px; float: left; font-family:Arial;   }
#miolo .miolotopo { background: url(../img/bg_miolo01.jpg); width: 742px; height: 12px; float: left; }
#miolo .miolomeio { background:#e8e8e8; width: 720px; height: auto;min-height: 200px; float:left; }
#miolo h4 { width: 498px; height: 40px; float: left; font-size: 30px; color: #484848; margin: 6px 0 0 20px;  }
#miolo .bg_imgtopo { width:182px; height:106px; float:left;   }
#miolo .pontos { width:498px; height:26px; float:left; font-size:60px; color:#c4c4c4;    margin: -80px 0 0 20px; }
#miolo .geral { width:640px; float: left; margin:10px 0 40px 40px;}
#miolo .geralfaq { width:705px; float: left; margin:10px 0 40px 15px;}
#miolo .visuimpressao { background:url(../img/miolo/btn-visualizar.png); width:131px; height:67px; float:right; }
#miolo .aviso { color:Red; font-size:10px; width:160px;  text-align:right; height:25px; float:right; margin:40 0 0 0px; }
#miolo .titulotexto { font-size: 24px; font-weight: bold; color:#898989;}
#miolo .subtitulo { font-size: 14px; font-weight: bold; }

.geral a{ color:#333; font-weight:bold; text-decoration:none; }
.geral a:hover {color:#333; font-weight:bold; text-decoration:underline; }


#miolo .titulocurso { font-size: 24px; font-weight: bold; color:#1aadf0;}
#miolo h5 { font-size:16px; font-weight:bold; color:#4774a8; padding-bottom:5px;  border-bottom: thin #CCC ridge; }
#miolo .preco { font-size:18px; }


#miolo .campusnome { font-size:16px;  font-weight: bold; }


#miolo .bgcomprovante { background: url(../img/internas/bg_comprovante.jpg); width:274px; height:355px; float:left; }
#miolo .txtcomprovante { width: 400px;  float: left; margin-left: 10px; margin-top: 20px; margin-bottom: 30px; }
#miolo .linhacomprovante { width:400px; height:1px; background:#c3c3c3; float:left; margin:6px 0 0 6px; }
#miolo .txtlinhas { width:400px;  float:left; margin:6px 0 0 6px; }
#miolo .comprovantenome { width:400px;  float:left; margin:6px 0 0 6px; font-size:18px; font-weight: bold; }
#miolo .comprovantenome2 { width:400px;  float:left; margin:25px 0 0 6px; font-size:18px; font-weight: bold; }
#miolo .miolofooter { background:url(../img/bg_miolo03.jpg) no-repeat; width: 742px; height:12px; float: left; margin-bottom: 30px;  }
#miolo .avisopagamento { color:Red; font-size:13px; width:600px;  text-align:left; height:25px; float:left; margin:40 0 0 0px; }

#miolo .tabelatop { width:639px; height:30px; float:left; }

#miolo .tabela { width:639px; height:auto; float:left; }
#miolo .toptabela { background:url(../img/miolo/top_tabela.jpg); width:639px; height:7px; float:left; }
#miolo .meiotabela { background:#fff; width:639px; height:auto; float:left; min-height:100px; }
#miolo .footertabela { background:url(../img/miolo/footer_tabela.jpg); width:639; height:8px; float:left; margin-bottom:20px; }
#miolo .txtabela { width:480px; height:auto; padding:8px 8px 8px 12px;   }
#miolo .icontabela {  width:45px; height:28px; float:right; margin-top:-30px; }
#miolo .linhatabela { width:600px;  border-bottom-color:#d5d5d5; margin-left:10px; border-bottom-style:solid; border-width:thin ; }



#miolo .grade { width:639px; height:auto; float:left; }
#miolo .topgrade  { background:url(../img/miolo/top_tabela.jpg); width:639px; height:7px; float:left; font-weight:bold; }
#miolo .meiograde  { background:#fff; width:639px; height:auto; float:left; min-height:100px; }
#miolo .footergrade  { background:url(../img/miolo/footer_tabela.jpg); width:639; height:8px; float:left; margin-bottom:20px; }
#miolo .txtsgrade { width:620px; height: auto; float:left;  padding:8px 8px 5px 12px;  border-bottom-color:#d5d5d5; margin-left:10px; border-bottom-style:solid; border-width:thin ; }
#miolo .txtdisciplinagrad  { width:270px; height:auto; float:left; padding:8px 8px 8px 12px;    }
#miolo .txtdatagrad  { width:110px; height:auto; float:left;   text-align:center; padding-top:8px;  }
#miolo .txtiniciograd  { width:110px; height:auto; float:left;  text-align:center; padding-top:8px;  }
#miolo .txtfimgrad  { width:110px; height:auto; float:left; text-align:center;  padding-top:8px;  }


#miolo .geralparabens { width:704px; height:auto; float:left; margin:10px; }
#miolo .parabens { width:470px; height:auto; float:left;  }
#miolo .tituloparabens { font-size: 30px; color: #484848;  width:470px; }
#miolo .pontosparabens { width:470px; height:26px; float:left; font-size:60px; color:#c4c4c4;    }
#miolo .parabens2 { background:url(../img/internas/boneco_parabens.jpg);   width:230px; height:412px; float:right; }


#miolo .faq { width:705px; height:103px; float:left; }
#miolo .faq1 { background:url(../img/internas/bg_atendimento-tel.jpg); width:434px; height:103px; float:left;  }
#miolo .faq2 { background:url(../img/internas/btn_bgfaleconosco.jpg); width:270px; height:103px; float:left;  }

#pagamento { width:400px; height:100px; float:right; margin-top:15px; }
#pagamento .boleto {  width: 120px; height:100px; float:left; margin-left:6px; }
#pagamento .cartao {  width: 120px; height:100px; float:left; margin-left:6px; }
#pagamento .debito {  width: 120px; height:100px; float:left; margin-left:6px; }

#pagamento .iconeboleto { width:45px; height:37px; float:left; margin:0 0 0 100px; }
#pagamento .btnboleto { width:65px; height:24px; float:left;  margin:7px 0 0 90px; }

#pagamento .iconecartao { width:59px; height:34px; float:left; margin:0 0 0 100px; }
#pagamento .btncartao { width:113px; height:23px; float: left;  margin:12px 0 0 70px; }

#pagamento .iconedebito { width:47px; height:36px; float:left; margin:0 0 0 100px; }
#pagamento .btndebito { width:104px; height: 23px; float:left; margin:12px 0 0 74px; }



a img{
  border: none;
}


/* impressao comprovante */

#impressao { width:540px; height: auto; margin-top: 10px; float: left; font-family:Arial;   }
#impressao h4 { width: 428px; height: 40px; float: left; font-size: 30px; color: #484848; margin: 6px 0 0 20px;  }
#impressao .bg_imgtopo { width:80px; height:106px; float:left;   }
#impressao .pontos { width:498px; height:26px; float:left; font-size:60px; color:#c4c4c4;    margin: -80px 0 0 20px; }
#impressao .geral { width:540px; float: left; margin:10px 0 40px 40px; font-size:12px;}
#impressao .visuimpressao { background:url(../img/miolo/btn-visualizar.png); width:131px; height:67px; float:right; }
#impressao .aviso { color:Red; font-size:10px; width:160px;  text-align:right; height:25px; float:right; margin:40 0 0 0px; }
#impressao .titulotexto { font-size: 24px; font-weight: bold; color:#898989;}
#impressao .subtitulo { font-size: 14px; font-weight: bold; }

#impressao .titulocurso { font-size: 24px; font-weight: bold; color:#1aadf0;}
#impressao h5 { font-size:16px; font-weight:bold; color:#4774a8; padding-bottom:5px;  border-bottom: thin #CCC ridge; }
#impressao .preco { font-size:18px; }


#impressao .campusnome { font-size:16px;  font-weight: bold; }


#impressao .bgcomprovante { background: url(../img/internas/bg_comprovante.jpg); width:274px; height:355px; float:left; }
#impressao .txtcomprovante { width: 400px;  float: left; margin-left: 10px; margin-top: 20px; margin-bottom: 30px; }
#impressao .linhacomprovante { width:400px; height:1px; background:#c3c3c3; float:left; margin:6px 0 0 6px; }
#impressao .txtlinhas { width:400px;  float:left; margin:6px 0 0 6px; }
#impressao .comprovantenome { width:400px;  float:left; margin:6px 0 0 6px; font-size:18px; font-weight: bold; }
#impressao .comprovantenome2 { width:400px;  float:left; margin:25px 0 0 6px; font-size:18px; font-weight: bold; }

