@charset "utf-8";
/* CSS Document */

#shareit-box {
	position:absolute;
	display:none;
}

	#shareit-header {
		width:349px;
	}


	#shareit-body {
		width:349px; height:89px;
		background:url(../img/fundo_tooltip01.png);
		font-size: 12px; color: #3d3d3d; font-family: Arial; margin-left: 420px; margin-top: -52px;
	}

		#shareit-blank {
			height:18px;
		}

		#shareit-url {
			height:50px; width: 300px;
		
			margin-left: 42px;
		}
		

/* tooltip 02 */		
		
#shareit-box02 {
	position:absolute;
	display:none;
}

	#shareit-header02 {
		width:326px;
	}


	#shareit-body02 {
		width:349px; height:89px;
		background:url(../img/fundo_tooltip01.png);
		font-size: 12px; color: #3d3d3d; font-family: Arial;  margin-left: 380px; margin-top: -72px;
	}

		#shareit-blank02 {
			height:18px;
		}

		#shareit-url02 {
			height:50px; width: 280px;
			margin-left: 42px;
		}
		
/* tooltip 03 */		
		
#shareit-box03 {
	position:absolute;
	display:none;
}

	#shareit-header03 {
		width:326px;
	}


	#shareit-body03 {
		width:349px; height:89px;
		background:url(../img/fundo_tooltip01.png);
		font-size: 12px; color: #3d3d3d; font-family: Arial;  margin-left: 410px; margin-top: -72px;
	}

		#shareit-blank03 {
			height:18px;
		}

		#shareit-url03 {
			height:50px; width: 280px;
			margin-left: 42px;
		}


/* tooltip 04 */		
		
#shareit-box04 {
	position:absolute;
	display:none;
}

	#shareit-header04 {
		width:326px;
	}


	#shareit-body04 {
		width:349px; height:89px;
		background:url(../img/fundo_tooltip01.png);
		font-size: 12px; color: #3d3d3d; font-family: Arial;  margin-left: 380px; margin-top: -72px;
	}

		#shareit-blank04 {
			height:18px;
		}

		#shareit-url04 {
			height:50px; width: 280px;
			margin-left: 42px;
		}


/* tooltip 05 */		
		
#shareit-box05 {
	position:absolute;
	display:none;
}

	#shareit-header05 {
		width:326px;
	}


	#shareit-body05 {
		width:349px; height:89px;
		background:url(../img/fundo_tooltip02.png);
		font-size: 12px; color: #3d3d3d; font-family: Arial;  margin-left: -220px; margin-top: -72px;
	}

		#shareit-blank05 {
			height:18px;
		}

		#shareit-url05 {
			height:50px; width: 280px;
			margin-left: 42px;
		}

/* tooltip 06 */		
		
#shareit-box06 {
	position:absolute;
	display:none;
}

	#shareit-header06 {
		width:326px;
	}


	#shareit-body06 {
		width:349px; height:89px;
		background:url(../img/fundo_tooltip02.png);
		font-size: 12px; color: #3d3d3d; font-family: Arial;  margin-left: -220px; margin-top: -72px;
	}

		#shareit-blank06 {
			height:18px;
		}

		#shareit-url06 {
			height:50px; width: 280px;
			margin-left: 42px;
		}


		