<h1>EMPRESA</h2>

<input type="text">
<button>Buscar</button>
<button>Novo</button>
<br />
<br />

<table border="1">
  <tr>
    <td><b>Nome</b></td>
    <td><b>CNPJ</b></td>
    <td><b>Consultar</b></td>
    <td><b>Editar</b></td>
    <td><b>Excluir</b></td>
  </tr>
  <tr>
    <td>Anes Casa da Beleza</td>
    <td>000.000.000.0001/06</td>
    <td><button>C</button></td>
    <td><button>E</button></td>
    <td><button>X</button></td>
  </tr>
</table>
