<link href="stylesheets/menu_assets/styles.css" rel="stylesheet" type="text/css">

<table width=100% height=450px>
  <tr height=15%>
    <td colspan="3" align='center'><h1>ANES CASA DA BELEZA</h1></td>
  </tr>
  <tr height=70%>
    <td width=14% align='center' valign="top">
      <br />
      <div id='cssmenu'>
        <ul>
           <li class='active '><a href='index.html'><span>Principal</span></a></li>
           <li class='has-sub '><a href='#'><span>Pessoa</span></a>
              <ul>
                 <li>
                    <%=link_to "Empresa", { :controller => "pessoa", :action => "empresa" }, 
                                            :remote => true,
                                            :update => 'painel-lateral-direito' %>
                 </li>
                 <li><a href='#'><span>Cliente</span></a></li>
                 <li><a href='#'><span>Fornecedor</span></a></li>
                 <li><a href='#'><span>Colaborador</span></a></li>
              </ul>
           </li>
           <li class='has-sub '><a href='#'><span>Products</span></a>
              <ul>
                 <li class='has-sub '><a href='#'><span>Product 1</span></a>
                    <ul>
                       <li><a href='#'><span>Sub Item</span></a></li>
                       <li><a href='#'><span>Sub Item</span></a></li>
                    </ul>
                 </li>
                 <li class='has-sub '><a href='#'><span>Product 2</span></a>
                    <ul>
                       <li><a href='#'><span>Sub Item</span></a></li>
                       <li><a href='#'><span>Sub Item</span></a></li>
                    </ul>
                 </li>
              </ul>
           </li>
           <li><a href='#'><span>About</span></a></li>
           <li><a href='#'><span>Contact</span></a></li>
        </ul>
      </div> 
    </td>
    <td width='7%' ></td>
    <td id='painel-lateral-direito' valign="top"></td>
  </tr>
  <tr height=10%>
    <td colspan="2">Rodape</td>
  </tr>
</table>
